@model PagedResult<Book>

<!-- Section-->
<section class="py-2">
	<div class="container px-4 px-lg-5 mt-5">
		<div class="row">
			<div class="col">
				<p>Status</p>
				<ul>
					<li>
						<div class="form-check">
							<label class="form-check-label" for="chkBorrowed">Borrowed</label>
							<input id="chkBorrowed" type="checkbox" class="form-check-input status-filter" data-status="false" />
						</div>
					</li>
					<li>
						<div class="form-check">
							<label class="form-check-label" for="chkAvailable">Available</label>
							<input id="chkAvailable" type="checkbox" class="form-check-input status-filter" data-status="true" />
						</div>
					</li>
				</ul>
			</div>
			<nav class="col">
				<ul class="pagination">
					@if (Model.PageNumber > 1)
					{
						<li class="page-item">
							<a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageNumber - 1)">Previous</a>
						</li>
					}

					@for (int i = 1; i <= Model.TotalPages; i++)
					{
						<li class="page-item @(i == Model.PageNumber ? "active" : "")">
							<a class="page-link" asp-action="Index" asp-route-pageNumber="@i">@i</a>
						</li>
					}

					@if (Model.PageNumber < Model.TotalPages)
					{
						<li class="page-item">
							<a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageNumber + 1)">Next</a>
						</li>
					}
				</ul>
			</nav>
		</div>
		<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
			@if (Model.Items?.Count() > 0)
			{
				@foreach (var book in Model.Items)
				{
					<div class="col mb-5">
						<div class="card h-100">
							<!-- Product image-->
							<img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
							<!-- Product details-->
							<div class="card-body p-4">
								<div class="text-center">
									<!-- Product name-->
									<h5 class="fw-bolder">@book.Title</h5>
									<p>@book.Genre</p>
									@if (book.Description is not null)
									{
										<p>@book.Description</p>
									}
									@if (book.IsAvailable)
									{
										<span class="disabled badge bg-success mt-auto">Available</span>
									}
									else
									{
										<span class="disabled badge bg-warning mt-auto">Borrowed</span>
									}
									<p>@book.Author.FullName</p>
								</div>
							</div>
							@if (book.IsAvailable)
							{
								<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
									<div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Borrow</a></div>
								</div>
							}
							else
							{
								<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
									<div class="text-center"><a class="disabled btn btn-outline-dark mt-auto" href="#">Borrow</a></div>
								</div>
							}
						</div>
					</div>
				}
			}
		</div>
	</div>
</section>
